.CartDetails{
    position: absolute;

    bottom: 0;
    padding-bottom: 120rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
   display: flex;
   flex-flow: column;
    width: 750rem;
    max-height: 1200rem;
    padding-bottom: 120rem;

}

.Header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 60rem;
}

.Clear{
   color: #aaa;
   font-size: 24rem;
}
.Clear span{
    margin-left: 12rem;
}

.List{
    padding-right: 20rem;
    overflow: auto;
}

